#logo:hover{
    cursor: pointer;
    color: rgb(55, 117, 251);

}
#menu{
    font-size: 1.5rem;
}

#dropdownMenu{
    cursor: pointer;
}

.typing::after {
    content: '|';
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}